<html>
<head>
  <title>Metric</title>
  <link rel="stylesheet" href="/reset.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/base.css" type="text/css" media="screen" charset="utf-8">
</head>

<body>
  
  <header>
    <h1><img src="/logo.png" alt="Metrics" /></h1>
  </header>
  <section id="content"></section>

</body>
</html>