/*
   application.css
   quale_website
   
   Created by Michael C. Beck on 2010-11-24.
   Copyright 2010 Quale. All rights reserved.
*/


/**
* @section                      Basic Settings
*/

html                            { font-size:100.01%; height:100%; }
body                            { background: #e5e5e5; color:#222; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:62.5%; text-align:left; padding:0; margin:0; }

a, 
a:hover, 
a:visited                       { text-decoration: none; color: #444; }

a:hover                         { text-decoration:underline; }


.hidden                         { display:none;}

/**
* @section                      ClearFix
*/


.cf:after                       { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0;}
.cf                             { display: inline-block; }
/* Hides from IE-mac \*/        
.ie6 .cf                        { height: 1%;}
.cf                             { display: block; }
.scf                            { width: 100%; overflow: hidden; }
/* End hide from IE-mac */


/**
* @section                      Font Sizes
*/

h1, h2, h3, h4,
h5, h6                          { line-height:1.1em; text-shadow:0 1px 1px #fff; color:#2B2B2B; }

h1                              { font-size:3em; margin:0; text-align:left; font-weight:bold; }
h2                              { font-size:2.0em; font-weight:normal; letter-spacing:-0.03em; margin:1em 0 0.5em 0;}
h3                              { font-size:1.7em; }
h4                              { font-size:1.5em; font-weight:normal; }

p                               { font-size:1.4em; line-height:1.6em; margin-bottom:1em; font-family: Verdana, Arial, sans-serif; }

/**
* @section                      Table Sizes
*/


table                           { width:806px; margin:1.5em auto; text-align:left; }
table tr                        { border:1px solid #d4d5da;}

table th                        { background: #e9e9ec; font-size:12px; }
table td                        { font-size:12px; border-right:1px solid #d4d5da; }

table th,
table td                        { padding:0.8em; }

header                          { padding:1em 0 2em 5em; 
                                  border-bottom:2px solid #ededed;
                                  background: #090e11; /* Old browsers */
                                  background: -moz-linear-gradient(top, #090e11 1%, #0c1417 100%); /* FF3.6+ */
                                  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#090e11), color-stop(100%,#0c1417)); /* Chrome,Safari4+ */
                                  background: -webkit-linear-gradient(top, #090e11 1%,#0c1417 100%); /* Chrome10+,Safari5.1+ */
                                  background: -o-linear-gradient(top, #090e11 1%,#0c1417 100%); /* Opera 11.10+ */
                                  background: -ms-linear-gradient(top, #090e11 1%,#0c1417 100%); /* IE10+ */
                                  background: linear-gradient(top, #090e11 1%,#0c1417 100%); /* W3C */
                                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#090e11', endColorstr='#0c1417',GradientType=0 ); /* IE6-9 */}


section#content                 { border-top:1px solid #c4c4c4; 
                                  text-align: center;
                                  background: #ffffff; /* Old browsers */
                                  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
                                  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
                                  background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
                                  background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
                                  background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
                                  background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* W3C */
                                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */}


#chart                          { display:inline-block; margin:2em auto; border:1px solid #c4c4c4; border-top:1px solid #d3d3d3;  }
canvas                          { border:2px solid #ededed; background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#0d1418), to(#090e11)); background: -moz-linear-gradient(center top , #0d1418, #090e11) repeat scroll 0 0 transparent; }
